// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #70c1b3;  // green
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;

// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------
div.widget-news {
  padding: 0 10px;
  background-color: $background-color;

  .headline-container {
    display: none;
  }

  .description {
    font-size: 20px;
  }

  .heading {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    img {
      margin-top: -7px;
    }

    span {
      color: black;
      font-size: 24px;
    }
  }

}
