<% content_for :title do %>Home dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Home Dashboard" data-text="Mat can post messages here" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="my-trello-board" data-view="List" data-title="Trello Board"></div>
      <i class="icon-trello icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="news" data-view="News"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="next" data-view="Countdown" data-title="Next event" data-end="0"></div>
    </li>
  </ul>
</div>
