<% content_for :title do %>Home dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="google_calendar" data-view="GoogleCalendar"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="news" data-view="News"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="next" data-view="Countdown" data-title="Next event" data-end="0"></div>
    </li>
  </ul>
</div>
