// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #f25f5c;  // red

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-countdown {

  background-color: $background-color;

  h2 { font-size: 2em; font-weight: 600; }

  h1 { font-size: 1.5em;}

  .countdown-time {
    margin-top: 10px;
    color: #ffe33d;
  }

  .before-more-info {
    font-size: 15px;
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
  }
}
